{% extends 'base.html' %}



{% block r_content %}
<head><div id="pnp-title">Pen & Paper</div>
<link rel = "stylesheet" href = "../../static/style.css" />
</head>
<body bgcolor="#f0ead6">
	<div id="buttonspace">
		<a id="one" href="{{ url_for('dash.journal') }}">
			<img id="large-icon" src={{ url_for('static', filename='img/journal.png') }} alt="New Entry">
		</a>

		<a id="two" href=#>
			<img class="icon" src={{ url_for('static', filename='img/account.png') }} alt="Account">
		</a>
		<a id="three" href="{{ url_for('dash.calendar') }}">
			<img class="icon" src={{ url_for('static', filename='img/calendar.png') }} alt="Calendar">
		</a>
		<a id="four" href="{{ url_for('dash.past_entries') }}">
			<img class="icon" src={{ url_for('static', filename='img/past_entries.png') }} alt="Past Entries">
		</a>
		<a id="five" href=#>
			<img class="icon" src={{ url_for('static', filename='img/stats.png') }} alt="Stats">
		</a>
	</div>
	</body>
{% endblock %}
