{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block r_content %}
	<a href="{{ url_for('dash.jounral') }}">
<!-- 		<img src={{ url_for('static', filename='img/calendar.png') }} alt="Calendar">
 -->	</a>
	<a href="{{ url_for('dash.calendar') }}">
<!-- 		<img src={{ url_for('static', filename='img/calendar.png') }} alt="Calendar">
 -->	</a>
	<a href="{{ url_for('dash.calendar') }}">
<!-- 		<img src={{ url_for('static', filename='img/past_entries.png') }} alt="Past Entries">
 -->	</a>
	<a href="{{ url_for('dash.calendar') }}">
<!-- 		<img src={{ url_for('static', filename='img/account.png') }} alt="Account">
 -->	</a>
	<a href="{{ url_for('dash.calendar') }}">
<!-- 		<img src={{ url_for('static', filename='img/stats.png') }} alt="Stats">
 -->	</a>
{% endblock %}