{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Register{% endblock %} for blah</h1>
{% endblock %}

{% block second_button %}
	<a href="{{ url_for('auth.login') }}"><button>Login</button></a>
{% endblock %}


{% block nr_content %}
<html>
   <body>
      <form method = "post">
         <p>Enter Name:</p>
         <input placeholder="Name" type="text" name="name"/>
         <p><input placeholder="Email" name="email" id="email" required></p>
         <p><input placeholder="Username" name="username" id="username" required></p>
         <input placeholder="Password" type="password" name="password" id="password" required>
         <input type="submit" value="Register">
      </form>
   </body>
</html>
{% endblock %}
