<!doctype html>
<head>
	<title>{% block title %}{% endblock %} -- Pen&Paper</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if session["user"] != None or request.path == "/" %} <!-- if logged in or at landing page -->
    	<div id="r-wrapper">
			<div id="content">{% block r_content %}{% endblock %}</div>
    	</div>
    {% else %} <!-- if using auth? -->
    	<a href="{{ url_for('landing') }}" id="return-to-landing"><button>Landing</button></a>
    	{% block second_button %}{% endblock %}
    	<div id="nr-wrapper">
    		<header>{% block header %}{% endblock %}</header>
    		<div id="content">{% block nr_content %}{% endblock %}</div>
    	</div>
    {% endif %}
</body>
